<!DOCTYPE html>

  <html>
    <header>
      <h1>Winter Olympics 2018 | South Korea</h1>
      <nav>
        <ul>
          <li><a href="/athletes">Athletes</a></li>
          <li><a href="/nations">Nations</a></li>
          <hr>
        </ul>
      </nav>
    </header>
  <head>
    <title>Winter Olympics 2018 | South Korea</title>
  </head>
  <body>
    <%= yield %>
  </body>

</html>