<!DOCTYPE html>

  <html>
  <head>
    <title>Winter Olympics 2018 | South Korea</title>
  </head>
  <body>
    <header>
      <h1>Winter Olympics 2018 | South Korea</h1>
      <nav>
        <ul>
          <li><a href="/">Leaderboard</a></li>
          <li><a href="/medalists">Medalists</a></li>
          <li><a href="/nations">Nations</a></li>
          <li><a href="/athletes">Athletes</a></li>
          <li><a href="/sports">Sports</a></li>
          <li><a href="/events">Events</a></li>
          <li><a href="/results">Results</a></li>
          <li><a href="/venues">Venues</a></li>
          <hr>
        </ul>
      </nav>
    </header>
    
    <div>
      <%= yield %>
    </div>
  </body>

</html>