<div class="page-header">
  <h1>Sports</h1>
</div>

<div class="main-cell">
  <div class="page-header zero-margin">
    <a href="/sports/new">Add New Sport</a>
  </div>
  <% @sports.each do |sport| %>
    <div>
      <a href="/sports/<%= sport.id %>"><%= sport.name %></a>
    </div>
  <% end %>
</div>

