<div class="main-cell space">
  <h2>Add new Sport using the fields below.</h2>

  <form action="/sports" method="post">
    
    <fieldset>
      <label for="name">Name:</label>
      <input type="text" name="name" id="name">

      <input type="submit" value="Add Sport">
    </fieldset>

  </form>
</div>