<h3>The below Venue has now been added</h3>

<h5>Name: <%= @venue.name %></h5>
<h5>Location: <%= @venue.location %></h5>
<h5>Capacity: <%= @venue.capacity %></h5>

<a href="/venues">View All Venues</a>