<form action="/venues/<%= @venue.id %>" method="post">
  
  <label for="name">Name:</label>
  <input type="text" name="name" id="name" value="<%= @venue.name %>">

  <label for="location">Location:</label>
  <input type="text" name="location" id="location" value="<%= @venue.location %>">

  <label for="capacity">Capacity:</label>
  <input type="number" name="capacity" id="capacity" value="<%= @venue.capacity %>">

  <input type="hidden" name="_method" value="put">
  <input type="submit" value="Update Venue">

</form>