<div class="main-cell space">
  <h2>Add new Venue using the fields below.</h2>

  <form action="/venues" method="post">
    
    <fieldset>
      <label for="name">Name: </label>
      <input type="text" name="name" id="name">

      <label for="location">Location: </label>
      <input type="text" name="location" id="location">

      <label for="capacity">Capacity: </label>
      <input type="number" name="capacity" id="capacity">
    </fieldset>

    <input type="submit" value="Add Venue">

  </form>
</div>