<h3>Venues</h3>

<h5>Name: <%= @venue.name %></h5>
<h5>Location: <%= @venue.location %></h5>
<h5>Capacity: <%= @venue.capacity %></h5>

<a href="/venues/<%= @venue.id %>/edit">Edit Venue</a>

<a href="/venues">View All Venues</a>