<div>
  <h3>The below Contest has now been added</h3>
  <table>
    <tr>
      <th>Event</th>
      <th>Venue</th>
      <th>Date</th>
    <tr>
    <tr>
      <td><%= @contest.full_name %></td>
      <td><%= @contest.venue.name %></td>
      <td><%= @contest.dt() %></td>
    </tr>
  </table>
</div>

<a href="/contests">View all Contests</a>