<h3>Contests</h3>

<div>
  <table>
    <tr>
      <th>Event</th>
      <th>Venue</th>
    <tr>
    <% @contests.each do |contest| %>
      <tr>
        <td><%= contest.full_name %></td>
        <td><%= contest.venue.name %></td>
        <td><a href="/contests/<%= contest.id %>">View</a></td>

      </tr>
    <% end %>
  </table>
</div>