<div class="nation-row medalists">
  <div class="page-header">
    <h3>The below Nation has now been added.</h3>
  </div>

  <div class="flag-container">
    <img src="http://img.freeflagicons.com/thumb/flag_background/<%= @nation.flag_name %>/<%= @nation.flag_name %>_640.png">
    <h3><span>Name: </span><%= @nation.name %></h2>
    <h3><span>Region: </span><%= @nation.region %></h2>
  </div>


  <div class="page-header">
    <a href="/nations">View All Nations</a>
  </div>
</div>