<h2>Nations:</h2>
<div>
  <% @nations.each do |nation| %>
    <div><a href="/nations/<%= nation.id %>"><%= nation.name %></a></div>
    <div><%= nation.points %></div>
  <% end %>
</div>

<a href="/nations/new">Add New Nation</a> 