<form action="/nations" method="post">

  <input type="hidden" name="gold" value="0">
  <input type="hidden" name="silver" value="0">
  <input type="hidden" name="bronze" value="0">
  
  <label for="name">Name:</label>
  <input type="text" name="name" id="name">

  <label for="region">Region:</label>
  <input type="text" name="region" id="region">

  <input type="submit" value="Add Nation">

</form>