<!-- :first_name, :last_name, :gender, :date_of_birth :nation_id -->
<div>
  <table>
    <tr>
      <th>Nation</th>
      <th>Full Name</th>
    <tr>
    <% @athletes.each do |athlete| %>
      <tr>
        <td><%= athlete.nation.name %></td>
        <td><a href= "/athletes/<%= athlete.id %>"><%= athlete.full_name %></a></td>
      </tr>
    <% end %>
  </table>
</div>