<!-- :first_name, :last_name, :gender, :date_of_birth :nation_id -->
<div>
  <table>
    <tr>
      <th>Nation</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Date of Birth</th>
    <tr>
    <% @athletes.each do |athlete| %>
      <tr>
        <td><%= athlete.nation.name %></td>
        <td><%= athlete.first_name %></td>
        <td><%= athlete.last_name %></td>
        <td><%= athlete.dob %></td>
      </tr>
    <% end %>
  </table>
</div>